<style>
  /* este comando insere um espaço de 10cm no final do documento */
  /* é útil para quando o sumário não é flutuante */
  /* quando for o caso, basta retirar os caracteres de comentário no início e no final da linha
  body {margin-bottom: 10cm;} 
  
  */
  
  body {margin-left: 0pt; background-color: #F8F8F8;}
  col-md-9 { width: 80%; }
  
  
  /* este trecho redefine o tamanho dos títulos */
  h1, h2, h3, h4, h5, h6 {
    font-size: 120%; color: #FFFFFFFF; 
    border: 1px solid black; padding: 0.5em; 
    margin-top: 0.5em; margin-bottom: 1em; margin-top: 2em; 
    font-weight: 900;}
  h1 {background-color: #0000F0F0;}
  h2 {background-color: #0000F0A0;}
  h3 {background-color: #0000F070;}
  h4 {background-color: #0000F050; color: black;}
  h5 {background-color: #0000F030; color: black;}
  h6 {background-color: #0000F010; color: black;}
  h1.title {font-size: 150%;}
  div.sidebar {background-color: #C0C0F080;} 
  
  /* formata as tabelas geradas pelo Python */
  table.simpletable tbody>tr>td { font-family: Courier New; padding-right: 2em; margin: 1em;}
  table.simpletable tbody>tr>th { font-family: Courier New; padding-right: 2em; margin: 1em;}
</style>